<div class="section" id="headerSection">

    <div class="textWrapper">
        <h1>Reimagining the World, Many Blocks at a Time</h1>
        <p>RChain is a cooperative building a blockchain platform and tools to enable social coordination in robust, secure, and scalable ways.</p>
        <a href="/get-started" class="btn-blue">Get Started</a>
    </div>

    <div class="vidyaWrapper">
        <video width="900" height="500" muted autoplay controls>
            <source src="/assets/homepage/RChainHero_V5.mp4" type="video/mp4">
        </video>
    </div>

    <ul>
        <li><img src="/assets/icon-1@3x.png"><p>Unlock solutions to unprecedented global challenges and local crises affecting society.</p></li>
        <li><img src="/assets/icon-2@3x.png"><p>Realize superior scalability and speed capable of addressing the issues of today.</p></li>
        <li><img src="/assets/icon-3@3x.png"><p>Discover a complete blockchain solution that empowers people to work together holistically.</p></li>
        <li><img src="/assets/icon-4@3x.png"><p>Connect with a thriving community to solve complex, global challenges.</p></li>
    </ul>

</div>

<div class="section" id="rhoSection">

    <div class="divider"></div>
    <h1>The Rho Revolution</h1>
    <h3>A breakthrough concurrent computational system that unshackles the blockchain</h3>



    <div>
        <a href="/platform" class="btn-blue">Learn more about RChain and Rholang</a>
    </div>

</div>



<div class="flexWrapper something-else">
    <div class="solar-syst">
        <div class="sun"></div>
        <div class="mercury"></div>
        <div class="venus"></div>
        <div class="earth"></div>
        <div class="mars"></div>
        <div class="jupiter"></div>
        <div class="saturn"></div>
        <div class="uranus"></div>
        <div class="neptune"></div>
        <div class="pluto"></div>
        <div class="asteroids-belt"></div>
    </div>


    <div class="textWrapper centered-1">
        <h2>A Complete System</h2>
        <p>RChain is pioneering transparent and secure transactions with an ultra-fast, global scale technology platform. Cooperative governance and a sustainable economic model make RChain a public utility which can be applied to the greatest problems today.</p>
    </div>
</div>

<div class="flexWrapper">
    <div class="banner">
        <div class="banner__background">
            <iframe class="video-player video-player--banner" width="1280" height="720" src="iframes/birds.html"></iframe>
        </div>
        <div class="banner__content center-box">
            <div class="center-box__body">
                <div class="textWrapper centered">
                    <h2 style="color: white;">Fast and Efficient at Every Scale</h2>
                    <p style="color: white;">Intelligent concurrency throughout the network and right-sized validation of every transaction prevents wasted resources. Transactions now happen with low execution costs and greater efficiency.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flexWrapper">
    <div class="banner">
        <div class="banner__background">
            <iframe class="video-player video-player--banner" width="1280" height="720" src="iframes/waves.html"></iframe>
        </div>
        <div class="banner__content center-box">
            <div class="center-box__body">
                <div class="textWrapper centered-2">
                    <h2 style="color: black;">Built, Nurtured, and Governed Cooperatively</h2>
                    <p style="color: black;">An inspirational and radically transparent open-source cooperative. RChain's member-driven contributions enrich every part of the system, resulting in unlimited organic growth.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section" id="communitySection">
    <div>
        <h6>Friends & Enthusiasts</h6>
        <h2>Engage with the Community</h2>
        <p>Community is the heart of RChain. Our inclusive cooperative, balancing results and a purpose-driven outlook, is what brings us together to build technology and social tools. Aimed at lifting our world up and effecting real, positive change, we will help each other flourish.</p>
    </div>

    <div class="flexWrapper">
        <div>
            <a href="https://github.com/rchain/" target="_blank"><img src="/assets/github@3x.png"></a>
        </div>
        <div>
            <a href="https://twitter.com/rchain_coop" target="_blank"><img src="/assets/twitter@3x.png"></a>
        </div>
        <div>
            <a href="https://www.youtube.com/channel/UCSS3jCffMiz574_q64Ukj_w" target="_blank"><img src="/assets/youtube@3x.png"></a>
        </div>
        <div>
            <a href="https://discord.gg/fvY8qhx" target="_blank"><img src="/assets/discord@3x.png"></a>
        </div>
    </div>

</div>

<div class="section" id="getStartedSection">
    <div>
        <h2>Ready to Effect Change?</h2>
    </div>
    <div>
        <a href="/get-started" class="btn-blue">Get Started</a>
    </div>

</div>